<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resource</key>
	<dict>
		<key>scene_name_1</key>
		<string>开始</string>
		<key>scene_name_2</key>
		<string>游戏</string>
		<key>scene_name_3</key>
		<string>关于</string>
		<key>scene_name_4</key>
		<string>设置</string>
		<key>scene_name_5</key>
		<string>游戏结束</string>

		<key>read_resource</key>
		<string>正在读取资源文件数据</string>
		<key>unload_resource_start</key>
		<string>正在释放{%any}场景资源</string>
		<key>unload_resource_complete</key>
		<string>释放{%any}场景资源完成</string>
		<key>load_resource_start</key>
		<string>正在读取{%any}场景资源</string>
		<key>load_resource_complete</key>
		<string>加载{%any}场景资源完成</string>
		<key>loading_resource</key>
		<string>正在加载{%any}场景资源{%any}/{%any}</string>
		
	</dict>
	<key>about</key>
	<dict>
		<key>about_english</key>
        <string>    I recode this game according to the logic of MoonWarriors-html5,almost all of the code  keep unanimous with the original.
    This showcase utilizes many features from Cocos2d - x engine,including: Parallax background,tilemap, actions, ease, frame animation, schedule, Labels, keyboard Dispatcher, Scene Transition</string>
       <key>about_chinese</key>
	   <string>    这是一款根据MoonWarriors-html5改写的游戏,基于自己对mvc的理解，写一个小示例来展示框架的可行性，里面加入了场景管理器，UI管理器，过渡资源场景处理，以解决项目过大，资源过多，一次性加载占用内存过多的问题，如有设计不好，或者使用不方便，希望提出你的宝贵意见。</string>
	   <key>go_back</key>
	   <string>Go Back</string>
	</dict>

	<key>setting</key>
	<dict>
		<key>background_music</key>
	  	<string>BackMusic</string>
	  	<key>sounds_on</key>
	  	<string>On</string>
	  	<key>sounds_off</key>
	  	<string>Off</string>
	  	<key>audio</key>
	  	<string>Audio</string>
	</dict>

	<key>game_over</key>
	<dict>
		<key>score</key>
	  	<string>Score : {%any}</string>
	  	<key>best_score</key>
	  	<string>Best Score : {%any}</string>
	  	<key>try_again</key>
	  	<string>Try Again</string>
	</dict>

	<key>Activity</key>
	<dict>
		<key>pay_feedback</key>
		<dict>
			<key>describ</key>
			<dict>
				<key>one</key>
				<string>支付100返回100</string>
			</dict>
			<key>format</key>
			<string>这是一个%{%any}%测试{%any}的{%any}数据</string>
			<key>pay_success</key>
			<string>支付成功</string>
			<key>price</key>
			<array>
				<string>100</string>
				<string>200</string>
				<string>300</string>
			</array>
			<key>title</key>
			<string>支付回馈</string>
		</dict>
	</dict>
	<key>common</key>
	<dict>
		<key>send_success</key>
		<string>发送成功</string>
		<key>text</key>
		<string>{1002aa\naaa
2001
\n \n
{1004hhhhh}yyyss}</string>
	</dict>
</dict>
</plist>
